
.coffee__body {
    margin-left: 10vw;
    margin-right: 10vw;
}
.coffee__title {
    h1 {
        text-transform: uppercase;
        font-size: 2em;
    }

    p {
        line-height: 130%;
        border: 1px solid pink;
    }
}
.coffee__container {
    border: 1px solid lightblue;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.coffee__item {
    margin: 2em;
    width: 400px;
    border: 1px solid orange;
}
.coffee__photo {
    width: 400px;
}