footer{
    height:40vh;
    background-color:darkslategray;
    text-align: center;
    
    
    
    
    nav {
        display: flex;
       
        justify-content: center;
        
        
        padding-top: 5vh;
        margin-top:-4vh ;

        a{
            color:white;
            
            padding-right: 3vh;
            
        }
    }
    p{
        color:white;
        
    }
}
@media screen and (max-width :480px){
    footer {
        nav {
            display: flex;
            flex-direction: row;
        }
    }
}